*.DS_Store
*.spyproject
*.ipynb_checkpoints
*Icon?

*project_venv
*venv
*runs

*.pyc
*.mp4
*.vtt
*.zip
*.pptx
*.csv
*.txt
*.npy
*.embedding
*.model
*.gz
*.h5
*.pkl
*.vscode
*.MP3

church/Cambodia
church/Download